---
title: blank
layout: page
---

<div class="container">
  <h1>{{house.title}}</h1>
</div>

<div class="container">{{house.description}}</div>
<div class="container">
	<a class="button button-primary" href="/houses-for-sale/" title="Houses for Sale">Check Listings</a>
</div>
