<section role="contentinfo" class="bg-white pt-4">
    <div class="container">
        <div class="row">
            <a href="#sct-top">
            <div class="footerbrand">
                Back to Top
            </div>
            </a>
        </div>
    </div>
    <div class="container" itemtype="https://schema.org/Organization" itemscope>
        <div class="rowbreak">
            <div class="line"></div>
        </div>
        <div class="row mt-0">
            <div class="coldir">
                <a href="/houses-for-sale/">Homes for Sale</a>
            </div>
            <div class="coldir coldir-big">
                <a class="button-third" href="mailto:email@example.com" itemprop="email">email@example.com</a>
            </div>
            <div class="coldir user-info">
              <button id="left">Log In</button>
              <button id="right">Sign Up</button>
            </div>
        </div>
        <div class="row mt-0" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <p><span itemprop="streetAddress">Address</span></p>
        </div>
    </div>
</section>
